*.pyc
visualization/
*.pkl
__pycache__/
*.so
build/
compute_overlap.c

.vscode/

config/trial
.ipynb_checkpoints/
*.ipynb

Charades/*
Charades_v1_rgb/*
checkpoints/*
Charades_v1_rgb.tar
Charades.zipi
wandb/*

__pycache__/*
*.dl
*.torch
